@font-face {
  font-family: 'DJB';
  src: local('DJB'), url(./fonts/DJB.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./fonts/Poppins-Regular.otf) format('truetype');
}

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.title-box {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: Poppins-Regular;
}

.record-p {
  white-space: nowrap;
  overflow-x: scroll;
  margin: 0px 0px 0px 0px;
  background: transparent;
  color: white;
  font-size: 14px;
  font-family: Poppins-Regular;
}

.name-p{
  width: 100px;
  white-space: nowrap;
  overflow-x: scroll;
  background: transparent;
  margin: 0px 10px 0px 20px;
  color: white;
  font-size: 24px;
  height: 30px;
}

.count-p{
  width: 125px;
  white-space: nowrap;
  overflow-x: scroll;
  background: transparent;
  margin: 3px 10px 0px 20px;
  color: white;
  font-size: 12px;
}

.label-border {
  padding: 5px;
  margin: 5px;
  background-color: #adc2ff;
  border-radius: 10px;
  box-shadow: 0 10px 25px #757575;

  display: flex;
  justify-content: center;
  align-items: center;
}

.label-box {
  background-color: #1a1a1d;
  border-radius: 6px;
  /* border: 5px solid #adc2ff;
  box-shadow: 0 10px 25px #757575; */
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  min-height: 115px;
  /* border: 2px solid black; */
}

.image-box {
  background-color: #1a1a1d;
  border-radius: 6px;
  padding: 3px;
  margin-left: 30px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 370px;
  max-height: 128px;
  overflow-y: auto;
}

.record-header {
  background-color: white;
  height: 20px;  
}

.record-box {
  height: 275px;
  background-color: #1a1a1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px 20px 20px;
  margin-bottom: 35px;
  border: 5px solid #adc2ff;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 10px 25px #757575;

  /* border-right: 2px solid #adc2ff; */
}

.recording-for-dropdown-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recording-for-dropdown-wrapper .btn {
  outline: none;
  border: 0px;
  background-color: transparent;
  font-family: Poppins-Regular;
  margin-bottom: 5px;
}

/* .image-text {
  width: 80px;
  margin: 0px;
  font-size: 12px;
  font-family: Poppins-Regular;
} */

.image {
  border-radius: 3px;
  margin: 3px;
  height: 50px;
}

#image-wrapper {
  height: 56px; /* .image(height) + 2*.image(margin)*/
}

#image-wrapper .text {
  transform: scale(1, .8);
  cursor: pointer;
  position:relative;
  font-size: 14px;
  color: white;
  bottom:55px;
  left:26px;
  visibility:hidden;
  margin: 0px;
}
  
#image-wrapper:hover .text {
  visibility:visible;
}
  
.countdown {
  margin: 2px 0px 0px 0px;
  font-family: DJB;
  font-size: 16px;
}

.record-button {
  max-width: 200px;
  margin-right: 12px;
}

.vertical-line {
  display: flex;
  width: 20px;
  /* border-left: 2px solid white; */
}

.record-and-countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px 0px 45px;
}

.view-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.all-labels {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 0px;
  min-width: 565px;
}

.plus-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px 0px 0px;
}
.plus {
  width: 25px;
  margin: 0px 10px 0px 0px;
  filter: drop-shadow(5px 5px 5px #757575);

}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bck-center {
	-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}